<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>网站后台管理</title>
		<link rel="stylesheet" type="text/css" href="${req.contextPath}/static/admin/layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="${req.contextPath}/static/admin/css/admin.css" />
	</head>

	<body>
		<div class="page-content-wrap">
				<form class="layui-form">
					<div class="layui-tab" style="margin: 0;">
						<ul class="layui-tab-title">
							<li class="layui-this">导航编辑</li>
						</ul>
						<div class="layui-tab-content">
							<div class="layui-tab-item"></div>
							<div class="layui-tab-item layui-show">
								<input type="hidden" name="id"
									<#if cmsNavigation?exists>
										value="${cmsNavigation.id}"
									</#if>
								>
								<div class="layui-form-item">
									<label class="layui-form-label">导航名称：</label>
									<div class="layui-input-block">
										<input type="text" name="name" required lay-verify="required" placeholder="请输入导航名称" autocomplete="off" class="layui-input"
											<#if cmsNavigation?exists>
												value="${cmsNavigation.name}"
											</#if>
										>
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">是否显示：</label>
									<div class="layui-input-block">
										<input type="checkbox" name="isShow" lay-skin="switch" lay-text="是|否"
											<#if cmsNavigation?exists>
												<#if cmsNavigation.isShow == "1">
													checked
												</#if>
											</#if>
										>
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">排序：</label>
									<div class="layui-input-block">
										<input type="text" name="isOrder" required lay-verify="required|number" placeholder="请输入序号" autocomplete="off" class="layui-input"
											<#if cmsNavigation?exists>
												value="${cmsNavigation.isOrder}"
											</#if>
										>
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">路径：</label>
									<div class="layui-input-block">
										<input type="text" name="url" required lay-verify="required" placeholder="请输入路径" autocomplete="off" class="layui-input"
											<#if cmsNavigation?exists>
												value="${cmsNavigation.url}"
											</#if>
										>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="layui-form-item" style="padding-left: 10px;">
						<div class="layui-input-block">
							<button class="layui-btn layui-btn-normal" lay-submit lay-filter="cmsnavigationadd">立即提交</button>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>
				</form>
		</div>
		<script src="${req.contextPath}/static/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
		<script src="${req.contextPath}/static/admin/js/cmsnavigation.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>